<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <th:block th:replace="/Base :: MetaLinks">...</th:block>

    <!--Background and jumbotron Styles-->
    <style>
        body, html {
            height: 100%;
            background-image: url("https://res.cloudinary.com/dv2nrlkn5/image/upload/v1562856288/Blog%20Project/ee6_5JNH96A0_cugtyc.gif");
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        @media (min-width: 500px) {

            .jumbotron {
                padding: 1rem 2rem;
            }
        }


    </style>
</head>
<body>

<th:block th:replace="/Base :: navbar">...</th:block>

<!--Individual Post Banners-->
<div class="container">
    <br/><br/><br/><br/>

    <div class="jumbotron">
        <h4>Program Design 101</h4>
        <p>The first step to designing a program is defining the problem that needs to be solved...</p>
        <a class="btn btn-primary" href="/ProgramDesign" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Algorithms for Dummies</h4>
        <p>An Algorithms is a precise set of instructions for completing a task. </p>
        <a class="btn btn-primary" href="/Algorithms" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>HTML Inception</h4>
        <p>HTML stands for HyperText Markup Language. Web browsers use HTML to turn Text and information into fully
            visible web pages that we are used to seeing.</p>
        <a class="btn btn-primary" href="/HTML" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hunt for Bootstrap</h4>
        <p>BootStrap is a useful tool, provided by Twitter, to help make your websites look attractive and
            professional.</p>
        <a class="btn btn-primary" href="/HFBootstrap" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Encapsulation</h4>
        <p>Encapsulation is one of the fundamental concepts of Object Oriented Java.</p>
        <a class="btn btn-primary" href="/Encapsulation" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Core Java</h4>
        <p>Java is an object-oriented programming language.</p>
        <a class="btn btn-primary" href="/CoreJava" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Github</h4>
        <p>To understand GitHub, you must first have an understanding of Git.</p>
        <a class="btn btn-primary" href="/Github" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hub</h4>
        <p>GitHub is a web-based Git Repository hosting service that offers...</p>
        <a class="btn btn-primary" href="/Hub" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>JavaEE</h4>
        <p>Enterprise Java refers to Java applications written to meet the needs of enterprises.</p>
        <a class="btn btn-primary" href="/JavaEE" role="button">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Polymorphism</h4>
        <p>Polymorphism is the ability of an object to change behavior on runtime.</p>
        <a class="btn btn-primary" href="/Polymorphism" role="button">Find out more...</a>
    </div>
</div>

<th:block th:replace="/Base :: bootstrap">...</th:block>
</body>
</html>