<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <th:block th:replace="/Base :: MetaLinks">...</th:block>

    <style>
        body, html {
            height: 100%;
            background-image: url("https://res.cloudinary.com/dv2nrlkn5/image/upload/v1562856288/Blog%20Project/ee6_5JNH96A0_cugtyc.gif");
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        @media (min-width: 500px){

            .jumbotron {
                padding: 1rem 2rem;
            }}


    </style>
</head>
<body>
<div class="container">
<th:block th:replace="/Base :: navbar">...</th:block>
</div>

<div class="container">
    <br/><br/><br/><br/>

    <div class="jumbotron">
        <h4>Program Design 101</h4>
        <p>The first step to designing a program is defining the problem that needs to be solved...</p>
        <a href="/ProgramDesign">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Algorithms for Dummies</h4>
        <p>An Algorithms is a precise set of instructions for completing a task. </p>
        <a href="/Algorithms">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>HTML Inception</h4>
        <p>HTML stands for HyperText Markup Language. Web browsers use HTML to turn Text and information into fully visible web pages that we are used to seeing.</p>
        <a href="/HTML">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hunt for Bootstrap</h4>
        <p>BootStrap is a useful tool, provided by Twitter, to help make your websites look attractive and professional.</p>
        <a href="/HFBootstrap">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Encapsulation</h4>
        <p>Encapsulation is one of the fundamental concepts of Object Oriented Java.</p>
        <a href="/Encapsulation">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hunt for Bootstrap</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem expedita molestias possimus tempore. A amet asperiores blanditiis consequatur consequuntur, cum delectus dolor dolorem eius fuga nam rem sit voluptatum?</p>
        <a href="/HFBootstrap">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hunt for Bootstrap</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem expedita molestias possimus tempore. A amet asperiores blanditiis consequatur consequuntur, cum delectus dolor dolorem eius fuga nam rem sit voluptatum?</p>
        <a href="/HFBootstrap">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hunt for Bootstrap</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem expedita molestias possimus tempore. A amet asperiores blanditiis consequatur consequuntur, cum delectus dolor dolorem eius fuga nam rem sit voluptatum?</p>
        <a href="/HFBootstrap">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hunt for Bootstrap</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem expedita molestias possimus tempore. A amet asperiores blanditiis consequatur consequuntur, cum delectus dolor dolorem eius fuga nam rem sit voluptatum?</p>
        <a href="/HFBootstrap">Find out more...</a>
    </div>
    <div class="jumbotron">
        <h4>Hunt for Bootstrap</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem expedita molestias possimus tempore. A amet asperiores blanditiis consequatur consequuntur, cum delectus dolor dolorem eius fuga nam rem sit voluptatum?</p>
        <a href="/HFBootstrap">Find out more...</a>
    </div>
</div>

<th:block th:replace="/Base :: bootstrap">...</th:block>
</body>
</html>